.header.ant-layout-header {
  width: 100%;
  background: #00152a;
}

.ant-menu-inline {
  min-width: 240px;
  height: 100%;
}

.ant-layout-content {
  height: 100%;
}

.anticon svg {
  font-size: 20px;
}

#appName {
  margin-left: 26%;
  font-size: 25px;
  font-weight: bold;
  color: whitesmoke;
  width: 300px;
  background-color: #00152a;
}
