.ant-table {
  margin-bottom: 30px;
  background-color: whitesmoke;
}

.productPicture {
  object-fit: contain;
}

.ant-modal-title {
  text-align: center;
  color: #0150ac;
  font-weight: bold;
  font-size: 20px;
}

.ant-modal-body {
  height: auto;
}

.modalProductinfo {
  width: 57%;
  height: 220px;
  float: left;
}

.productDesc {
  float: left;
  width: 100%;
}

.modalPicture {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  object-fit: contain;
}

h1 {
  height: 40px;
}

p {
  font-size: 15px;
  width: 100%;
  margin-left: 0;
  margin-bottom: 10px;
}

.currentQuantity {
  margin-top: 30px;
  color: #0150ac;
  font-weight: bold;
}

.add {
  margin-top: 40px;
  margin-left: 20px;
  width: 100%;
  background-color: whitesmoke;
}

.ant-form-item-label > label {
  font-size: 15px;
  color: #0150ac;
  font-weight: bold;
  padding-right: 40px;
}

.itemType {
  margin-top: 10px;
  width: 50%;
  float: left;
}
.modalProductItemsinfo {
  width: 57%;
  height: 120px;
  float: left;
}

.items,
.addNewItem {
  color: #0150ac;
  font-weight: bold;
}

.addNewItem {
  margin-top: 10px;
}
