.ant-table {
    background-color: whitesmoke;
  }


  .ant-modal-title {
    text-align: center;
    color: #0150ac;
    font-weight: bold;
    font-size: 20px;
  }

  .ant-modal-body {
    height: fit-content;
  }

  .modalTable{
    width:min-content;
  }

  h1 {
    height: 40px;
  }

  p {
    font-size: 15px;
    margin-left: 0;
    margin-bottom: 10px;
  }

  .currentQuantity {
    margin-top: 30px;
    color: #0150ac;
    font-weight: bold;
  }


  .add {
    margin-top: 40px;
    margin-left: 20px;
    width: 100%;
    background-color: whitesmoke;
  }

  .notAvailable {
    color: lightcoral;
  }
