  
  .column3 {
    float: left;
    width: 30%;
    padding: 10px;
    margin-right: 20px;
    margin-left: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #9cb7ff;
  }

  .column4 {
    float: right;
    width: 60%;
    padding: 10px;
    margin: 20px;
  }
  
  .add-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      text-align: center;
    }
    
    .add-form {
      width: 700px;
      max-width: 1000px;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      background: #9cb7ff;
      border-radius: 50px;
      padding-top: 2%;
    }
    .add-form-forgot {
      margin-right: 2px;
    }
    
    .add-form-button,
    .add-form-input {
      width: 60%;
    }
    
    .add-form-checkbox {
      margin-left: 10px;
    }

    .cancel {
      width: 60%;
      background-color: rgb(206, 203, 203);
      color: rgb(97, 96, 96);
    }
    .add-form-input1 {
      width: 60%;
      align-items: center;
      display: flex;
      justify-content: center;
      margin-left: 80px;
    }
  
    .title {
      color: #00152a;
    }
  
   