.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.login-form {
  width: 300px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background: #f0f5ff;
  border-radius: 25px;
}
.login-form-forgot {
  margin-right: 2px;
}

.login-form-input:first-of-type {
  margin-top: 8%;
}

.login-form-button,
.login-form-input {
  width: 80%;
}

.login-form-checkbox {
  margin-left: 10px;
}
